<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit Appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 544769076153407;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  
 

  <form id="form" method="post" action="../updateappointment">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" value="<%= data.name %>">    
  </div>
  <div class="form-group">
    <label for="name">Phone</label>
    <input type="text" class="form-control" name="phone" value="<%= data.phone %>">    
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" name="address" value="<%= data.address %>">
  </div>
  <div class="form-group">
    <label for="name">Package</label>
    <input type="text" class="form-control" name="package" value="<%= data.package %>">    
  </div>
  <div class="form-group">
    Visit: 
    <input type="radio" name="visit" value="first time" 
    <%if(data.visit == 'first time' ){%>
        <%="checked"%>
    <%}%>
    >
    <label for="male">First Time</label>
    <input type="radio" name="vist" value="follow up"
    <%if(data.visit == 'follow up'){%>
        <%="checked"%>
    <%}%>
    >
    <label for="female">Follow Up</label><br>     
  </div>
  <div class="form-group">
    <label for="name">Date</label>
    <input type="text" class="form-control" name="date" value="<%= data.date %>">    
  </div>
  <div class="form-group">
    <label for="name">Time</label>
    <input type="text" class="form-control" name="time" value="<%= data.time %>">    
  </div>
  <div class="form-group">
    <label for="name">Message</label>
    <textarea name="message" rows="4" cols="50"><%= data.message %></textarea>
      
  </div>
  <div class="form-group">
    <label for="status">Status:</label>
  <select name="status" id="status">    
    <option value="pending"
    <%if(data.status == "pending"){%>
        <%="selected"%>
    <%}%>
    >Pending</option>
    <option value="confirm"
    <%if(data.status == "confirm"){%>
        <%="selected"%>
    <%}%>
    >Confirm</option>
   
  </select>   
  </div>
  <div class="form-group">
    <label for="name">Comment</label>
    <textarea name="comment" rows="4" cols="50"></textarea>      
  </div>

  
  <input type="hidden"  name="doc_id" value="<%= data.doc_id %>">
  <input type="hidden"  name="ref" value="<%= data.ref %>">
  <input type="submit" value="Submit"> 
  </form>


  
  <script>
      
   
      const windowShut = () => {
   
          MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
        }
      
      document.getElementById("form").addEventListener("submit", windowShut);       

      /*
      const postFormData = (data) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://fbstarterbot.herokuapp.com/webview/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data)); 
      } */

     

  </script>

  </body>

</html> -->

<%- include('partials/header.ejs') %>
    <div class="app-title">
        <div>
            <h1> <i class="icofont-list"></i>Order:
                Ref No : <%=data.ref %>
            </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <a href="../../admin/orders" class="btn btn-outline-primary">
                <i class="icofont-double-left"></i>
            </a>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <form id="form" method="post" action="../updateappointment">
                        <!--Name start-->
                        <div class="form-group row">
                            <label for="name_id" class="col-sm-2 col-form-label"> Name </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name_id" name="name" value="<%= data.name %>" readonly>
                            </div>
                        </div>
                        <!--Name end-->
                        <!--Phone start-->
                        <div class="form-group row">
                            <label for="phone_id" class="col-sm-2 col-form-label"> Phone </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone_id" name="phone" value="<%= data.phone %>" readonly>
                            </div>
                        </div>
                        <!--Phone end-->
                        <!--Address start-->
                        <div class="form-group row">
                            <label for="address_id" class="col-sm-2 col-form-label"> Address </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address_id" name="address" value="<%= data.address %>" readonly>
                            </div>
                        </div>
                        <!--Address end-->
                        <!--Package start-->
                        <div class="form-group row">
                            <label for="package_id" class="col-sm-2 col-form-label"> Package </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="package_id" name="package" value="<%= data.package %>" readonly>
                            </div>
                        </div>
                        <!--Package end-->
                        <!--visit start-->
                        <div class="form-group row">
                            <label for="visit_id" class="col-sm-2 col-form-label"> visit </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="visit_id" name="visit" value="<%= data.visit %>" readonly>
                            </div>
                        </div>
                        <!--visit end-->
                        <!--Date start-->
                        <div class="form-group row">
                            <label for="date_id" class="col-sm-2 col-form-label"> Date </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="date_id" name="date" value="<%= data.date %>" readonly>
                            </div>
                        </div>
                        <!--Date end-->
                        <!--Time start-->
                        <div class="form-group row">
                            <label for="time_id" class="col-sm-2 col-form-label"> Time </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="time_id" name="time" value="<%= data.time %>" readonly>
                            </div>
                        </div>
                        <!--Time end-->
                        <!--Date start-->
                        <div class="form-group row">
                            <label for="comment" class="col-sm-2 col-form-label"> Message </label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="message" id="" cols="10" rows="3"><%= data.message %></textarea>
                            </div>
                        </div>
                        <!--Date end-->
                        <!--Status start-->
                        <div class="form-group row">
                            <label for="status_id" class="col-sm-2 col-form-label"> Status </label>
                            <div class="col-sm-10">
                                <select class="form-control" name="status" id="status_id">
                                    <option value="pending" <%if(data.status=="pending" ){%>
                                        <%="selected"%>
                                        <%}%>
                                        >Pending</option>
                                    <option value="confirmed" <%if(data.status=="confirmed" ){%>
                                        <%="selected"%>
                                        <%}%>
                                        >Confirmed</option>
                                    <option value="canceled" <%if(data.status=="canceled" ){%>
                                        <%="selected"%>
                                        <%}%>
                                        >Calceled</option>
                                </select>
                            </div>
                        </div>
                        <!--Status end-->
                        <!--Comment start-->
                        <div class="form-group row">
                            <label for="comment" class="col-sm-2 col-form-label"> Comment </label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="comment" id="" cols="10" rows="3"></textarea>
                            </div>
                        </div>
                        <!--Comment end-->
                        <input type="hidden"  name="doc_id" value="<%= data.doc_id %>">
                        <input type="hidden"  name="ref" value="<%= data.ref %>">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">
                                    <i class="icofont-save"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>